@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject ISiteContextResolver siteResolver
@{
    bool sideNavVisible = true.Equals(ViewData["SideNavVisible"]);
    string sideNavToggleClass = ViewData["SideNavToggle"]?.ToString() ?? "collapse";
    bool asidePrimaryVisible = true.Equals(ViewData["AsidePrimaryVisible"]);
    bool asideSecondaryVisible = true.Equals(ViewData["AsideSecondaryVisible"]);
    var Tenant = await siteResolver.ResolveSite(Context.Request.Host.Host, Context.Request.Path);
}
<!DOCTYPE html>
<html class="sb-init">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.NET Foundation</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("Meta", required: false)

	<!--Critical path CSS loaded here, the rest after content-->
	<style>*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15}header,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';font-size:1rem;font-weight:400;line-height:1.5;color:rgb(33,37,41);text-align:left;background-color:rgb(255,255,255)}h2,h3{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}ul{margin-top:0;margin-bottom:1rem}a{color:rgb(0,123,255);text-decoration:none;background-color:transparent}img{vertical-align:middle;border-style:none}button{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0}button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button{overflow:visible}button{text-transform:none}[type="button"],button{-webkit-appearance:button}*::-webkit-file-upload-button{font-family:inherit;font-size:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:button}h2,h3{margin-bottom:.5rem;font-weight:500;line-height:1.2}h2{font-size:2rem}h3{font-size:1.75rem}.container{width:100%;padding-right:0px;padding-left:0px;margin-right:auto;margin-left:auto}@@media (min-width:576px){.container{max-width:540px}}@@media (min-width:768px){.container{max-width:720px}}@@media (min-width:992px){.container{max-width:960px}}@@media (min-width:1200px){.container{max-width:1140px}}.container-fluid{width:100%;padding-right:0px;padding-left:0px;margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col,.col-12,.col-lg-3,.col-md-4,.col-sm-6{position:relative;width:100%;padding-right:0px;padding-left:0px}.col{max-width:100%}.col-12{max-width:100%}@@media (min-width:576px){.col-sm-6{max-width:50%}}@@media (min-width:768px){.col-md-4{max-width:33.333333%}}@@media (min-width:992px){.col-lg-3{max-width:25%}}.collapse:not(.show){display:none}.nav-link{display:block;padding:.5rem 1rem}.navbar{position:relative;padding:.5rem 1rem}.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-nav{padding-left:0;margin-bottom:0;list-style:none}.navbar-nav .nav-link{padding-right:0;padding-left:0}.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:'';background-size:100%;background-position:50% 50%;background-repeat:no-repeat no-repeat}@@media (min-width:768px){.navbar-expand-md .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-md .navbar-toggler{display:none}}.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.alert-dismissible{padding-right:4rem}.alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}.alert-info{color:rgb(12,84,96);background-color:rgb(209,236,241);border-color:rgb(190,229,235)}.close{float:right;font-size:1.5rem;font-weight:700;line-height:1;color:rgb(0,0,0);text-shadow:rgb(255,255,255) 0 1px 0;opacity:.5}button.close{padding:0;background-color:transparent;border:0;-webkit-appearance:none}.position-relative{position:relative!important}.position-absolute{position:absolute!important}.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0 0 0 0);white-space:nowrap;border:0}.w-100{width:100%!important}.mx-auto{margin-right:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}.text-center{text-align:center!important}.navbar{padding-top:1.5rem;padding-bottom:1.5rem}.navbar-brand{padding:0;height:93px;width:259px}@@media screen and (max-width:1200px){.container{max-width:100%}}p{margin-bottom:2rem}.page-section{width:100%}.page-section--purple--light{background-color:rgb(235,224,235)}.page-section_column{padding-top:6rem;padding-bottom:6rem}.page-section_column--narrow{padding-left:34px;padding-right:34px}.page-section_column.pad-fix--all{padding-top:0}@@media screen and (max-width:960px){.page-section_column.pad-fix--lg{padding-top:0}}@@media screen and (max-width:576px){.page-section_column.pad-fix--sm{padding-top:0}}.page-section_column>*+*{margin-top:2rem}.page-section_column>:only-child{margin-bottom:0}.page-section h2,h3{margin-top:2rem;margin-bottom:0;font-family:'Bree Serif',serif}.page-section h2{font-size:3rem}.page-section h3{font-size:2.4rem}.page-section p{font-size:16px}html{font-size:62.5%}body{font-family:Avenir,'Adobe Heiti Std','Segoe UI','Trebuchet MS',sans-serif;font-size:1.5rem}h2,h3{margin-bottom:2rem}img{max-width:100%}.site-button{font-size:2rem;padding:.5em 1em;display:inline-block;text-decoration:none}.site-button--pink{border:2px solid rgb(226,6,140);background-color:rgb(226,6,140);color:rgb(255,255,255)}@@media screen and (max-width:480px){#site-logo{max-width:240px}}.site-nav_container{position:relative}@@media screen and (max-width:768px){#main-menu{text-align:center}}.main-menu_item{font-size:2rem;font-family:Lato,sans-serif;line-height:1em}.main-menu_item a{color:rgb(153,153,153)}@@media screen and (min-width:769px){.main-menu_item+.main-menu_item{margin-left:2rem}}.main-menu_toggle span{width:3rem;background-image:url('data:image/svg+xml;charset=utf8,<svg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'><path stroke=\'rgb(104, 33, 122)\' stroke-width=\'4\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'></path></svg>')}.site-social_container{top:0;right:0;margin-right:15px}.site-social_icon{background-color:rgb(241,241,241)}.site-social_icon a{padding:7px 10px;display:block;font-size:1.8rem;min-width:40px;text-align:center}.site-social_icon .fas::before,.site-social_icon .fab::before{color:rgb(102,102,102)}.icon-box{background-color:rgb(246,246,246);border:1px solid rgb(153,153,153);padding:2rem}.icon-box>*+*{margin-top:2rem}.icon-box_stat{font-size:4.8rem;color:rgb(102,102,102);font-family:'Bree Serif',serif;line-height:1em}.icon-box_label{font-size:2rem;color:rgb(102,102,102);text-transform:uppercase}.icon-box_icon{height:70px}.icon-box_icon img{height:100%}.flash{background-color:rgb(226,6,140);position:relative}.flash .alert{color:rgb(255,255,255);background-color:transparent;border-color:transparent;font-size:2rem;font-weight:lighter;margin-bottom:0;padding:1.5rem 2.5rem}.flash a{color:rgb(255,255,255);font-size:2rem;text-decoration:none;font-weight:700}.flash .close{font-size:3.2rem;margin-top:5px}#home-hero_container{background-image:url(/img/home_hero.webp);padding-top:13vw;padding-bottom:8vw;background-size:cover;overflow:hidden;background-position:50% 50%}#home-hero_overlay{top:-15%;left:0;width:100%;height:115%;background-image:linear-gradient(rgba(104,33,122,.298039) 0%,rgba(104,33,122,.298039) 100%),linear-gradient(rgba(0,0,0,.2) 0%,rgba(0,0,0,.2) 100%);background-attachment:initial,initial;background-origin:initial,initial;background-clip:initial,initial;background-size:initial,initial;background-position:;background-repeat:}#home-hero_content{text-align:center;color:rgb(255,255,255)}#home-hero_title{font-size:4rem;font-family:'Bree Serif',serif}#home-hero_copy{max-width:75rem;font-size:1.8rem}@@media screen and (max-width:615px){#home-hero_buttons{width:100%}}@@media screen and (max-width:615px){.home-hero_button+.home-hero_button{margin-top:2rem}}</style>

    <partial name="_CookieConsent" />
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column @ViewData[" BodyClass"]">
	<header class="page-header_wrapper" role="banner">
		<section class="flash justify-content-center align-items-center">
			<div class="alert alert-info alert-dismissible fade show w-100 text-center" role="alert">
				Just announced! <u><a href="http://aka.ms/dnfmemberupdate">.NET Foundation Open Membership!</a></u>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</section>

		<div class="site-nav_container container">
			<nav class="navbar navbar-expand-md align-items-end">
				<a class="navbar-brand" href="/"><img id="site-logo" src="/img/dotNetFoundationHorizontal.svg"></a>
				<button class="main-menu_toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul id="main-menu" class="navbar-nav ml-auto">
						<li class="main-menu_item nav-item">
							<a class="nav-link" href="https://members.dotnetfoundation.org">Membership</a>
						</li>
						<li class="main-menu_item nav-item">
							<a class="nav-link" href="/get-involved">Get Involved <span class="sr-only">(current)</span></a>
						</li>
						<li class="main-menu_item nav-item">
							<a class="nav-link" href="/projects">Projects</a>
						</li>
						<li class="main-menu_item nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="main-menu_item nav-item">
							<a class="nav-link" href="/news">News</a>
						</li>
					</ul>
				</div>
			</nav>
			<section class="site-social_container d-flex position-absolute">
				<div class="site-social_icon site-social_icon--rss">
					<a href="/Blog">
						<i class="fas fa-rss"></i>
					</a>
				</div>
				<div class="site-social_icon site-social_icon--twitter">
					<a href="https://twitter.com/dotnetfdn">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				<div class="site-social_icon site-social_icon--meetup">
					<a href="https://www.meetup.com/pro/dotnet/">
						<i class="fab fa-meetup"></i>
					</a>
				</div>
			</section>
		</div>
	</header>

	@*<main id="site_wrapper">
		<div id="site_container" class="">
			@RenderBody()
		</div>
	</main>*@
	<div id="site_wrapper" class="container-fluid cs-container flex-fill">

		<div class="row">
			<main id="site_container" role="main" class="col order-3">
				@await Html.PartialAsync("AlertsPartial")
				@RenderBody()
			</main>
			@if (sideNavVisible)
			{
			<nav id="sidenavmenu" class=" col col-3 order-1 @sideNavToggleClass">
				@RenderSection("SideNav", required: false)
			</nav>

			}
			@if (asideSecondaryVisible)
			{
			<aside id="asideSecondary" class="col col-1 order-2">
				@RenderSection("AsideSecondary", required: false)
			</aside>

			}
			@if (asidePrimaryVisible)
			{
			<aside id="asidePrimary" class="col-12 col-md-2 col-sm-12  col-sm-12 order-4">
				@RenderSection("AsidePrimary", required: false)
			</aside>

			}
		</div>
	</div>


	<footer id="site-footer" class="sticky-bottom h-card">
		<data class="u-url" href="/"></data>
		<div id="site-footer_container" class="container">
			<div class="site-footer_row row">
				<div class="col-12 d-flex justify-content-between">
					<img src="/img/Logo_footer.png">
					<ul id="site-footer_menu" class="align-self-end">
						<li><a href="/Privacy-Policy">Privacy Policy</a></li>
						<li><a href="/Code-Of-Conduct">Code of Conduct</a></li>
						<li><a href="https://github.com/dotnet/dotnetfoundation-website/issues">Site Problem?</a></li>
					</ul>
				</div>
			</div>
			<section class="site-social_container d-flex position-absolute">
				<div class="site-social_icon site-social_icon--rss">
					<a href="/api/rss">
						<i class="fas fa-rss"></i>
					</a>
				</div>
				<div class="site-social_icon site-social_icon--twitter">
					<a href="https://twitter.com/dotnetfdn">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				<div class="site-social_icon site-social_icon--meetup">
					<a href="https://www.meetup.com/pro/dotnet/">
						<i class="fab fa-meetup"></i>
					</a>
				</div>
			</section>
		</div>
		<div id="site-footer_bookend" class="">
			<div class="site-footer_container container">
				<div class="site-footer_row row">
					<div class="col-12 d-flex justify-content-end">
						<p id="site-footer_copyright">
							&copy; @DateTime.Now.Year .NET Foundation and Contributors.
						</p>
					</div>
				</div>
			</div>

		</div>
		<partial name="SignOutPartial" />
		<environment names="Development">
			<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
			<script defer src="~/lib/font-awesome/js/all.min.js"></script>
		</environment>
		<environment names="Staging,Production">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
				  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
				  crossorigin="anonymous"
				  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
				  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
			<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
					integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
					crossorigin="anonymous"></script>
		</environment>
		<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
		<link rel="stylesheet" href="~/css/home.css" asp-append-version="true">

		<environment names="Development">
			<script src="~/lib/jquery/jquery.min.js"></script>
			<script src="~/lib/waypoints/jquery.waypoints.min.js"></script>
			<script src="~/lib/counter-up/jquery.counterup.min.js"></script>
			<script src="~/lib/popper/popper.min.js"></script>
			<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="~/lib/webfont/webfontloader.js"></script>
		</environment>
		<environment names="Staging,Production">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
		</environment>
		<script>
			WebFont.load({
				google: {
					families: ['Bree Serif', 'Lato']
				}
			});
		</script>
		<script>
			$(document).ready(function () {
				var parts = window.location.pathname.split('/');
				var basename = "default-no-basename";
				if (parts && parts.length) {
					var idx = parts.length - 1;
					if (parts[idx] == '' && parts.length > 1) {
						--idx;
					}
					basename = parts[idx];
				}
				//alert("basename: "+basename);
				$('body').addClass(basename);
			});
		</script>
		@RenderSection("Bottom", required: false)
		@RenderSection("scripts", required: false)
		<!-- IsHttps: @Context.Request.IsHttps -->
		<!-- Host: @Context.Request.Host.Host -->
		<cache>

			<!-- ViewType: @GetType().AssemblyQualifiedName -->
			<!-- Environment: @HostingEnvironment.EnvironmentName -->
			<!-- Application: @System.Reflection.Assembly.GetEntryAssembly().GetName().Name, @System.Reflection.Assembly.GetEntryAssembly().GetName().Version -->
			<!-- OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture -->
			<!-- Machine: @Environment.MachineName -->
		</cache>
	</footer>

	@RenderSection("Toolbar", required: false)
	<script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
</body>
</html>
