@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject ISiteContextResolver siteResolver
@{
    bool sideNavVisible = true.Equals(ViewData["SideNavVisible"]);
    string sideNavToggleClass = ViewData["SideNavToggle"]?.ToString() ?? "collapse";
    bool asidePrimaryVisible = true.Equals(ViewData["AsidePrimaryVisible"]);
    bool asideSecondaryVisible = true.Equals(ViewData["AsideSecondaryVisible"]);
    var Tenant = await siteResolver.ResolveSite(Context.Request.Host.Host, Context.Request.Path);
}
<!DOCTYPE html>
<html class="sb-init">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.NET Foundation</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("Meta", required: false)
    <environment names="Development">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
    <partial name="_CookieConsent" />
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column @ViewData["BodyClass"]">
    <header class="page-header_wrapper" role="banner">
        <section class="flash justify-content-center align-items-center">
            <p class="flash_message">
                Join us for <a class="flash_link" href="https://dotnetconf.net">.NET Conf - September 12-14</a>!
            </p>
            <div class="flash_close">X</div>
        </section>

        <div class="site-nav_container container">
            <nav class="navbar navbar-expand-md align-items-end">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/img/dotNetFoundationHorizontal.png"></a>
                <button class="main-menu_toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="main-menu" class="navbar-nav ml-auto">
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="Get-Involved">Get Involved <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="Blog">News</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="site-social_container d-flex position-absolute">
                <div class="site-social_icon site-social_icon--rss">
                    <a href="/Blog">
                        <i class="fas fa-rss"></i>
                    </a>
                </div>
                <div class="site-social_icon site-social_icon--twitter">
                    <a href="https://twitter.com/dotnetfdn">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="site-social_icon site-social_icon--users">
                    <a href="https://www.meetup.com/pro/dotnet/">
                        <i class="fas fa-users"></i>
                    </a>
                </div>
            </section>
        </div>
    </header>

    @*<main id="site_wrapper">
            <div id="site_container" class="">
                @RenderBody()
            </div>
        </main>*@
    <div id="site_wrapper" class="container-fluid cs-container flex-fill">

        <div class="row">
            <main id="site_container" role="main" class="col order-3">
                @await Html.PartialAsync("AlertsPartial")
                @RenderBody()
            </main>
            @if (sideNavVisible)
            {
                <nav id="sidenavmenu" class=" col col-3 order-1 @sideNavToggleClass">
                    @RenderSection("SideNav", required: false)
                </nav>

            }
            @if (asideSecondaryVisible)
            {
                <aside id="asideSecondary" class="col col-1 order-2">
                    @RenderSection("AsideSecondary", required: false)
                </aside>

            }
            @if (asidePrimaryVisible)
            {
                <aside id="asidePrimary" class="col-12 col-md-2 col-sm-12  col-sm-12 order-4">
                    @RenderSection("AsidePrimary", required: false)
                </aside>

            }
        </div>
    </div>


    <footer id="site-footer" class="sticky-bottom h-card">
        <data class="u-url" href="/"></data>
        <div id="site-footer_container" class="container">
            <div class="site-footer_row row">
                <div class="col-12 d-flex justify-content-between">
                    <img src="/img/Logo_footer.png">
                    <ul id="site-footer_menu" class="align-self-end">
                        <li><a href="/Privacy-Policy">Privacy Policy</a></li>
                        <li><a href="/Code-Of-Conduct">Code of Conduct</a></li>
                    </ul>
                </div>
            </div>
            <section class="site-social_container d-flex position-absolute">
                <div class="site-social_icon site-social_icon--rss">
                    <a href="/api/rss">
                        <i class="fas fa-rss"></i>
                    </a>
                </div>
                <div class="site-social_icon site-social_icon--twitter">
                    <a href="https://twitter.com/dotnetfdn">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="site-social_icon site-social_icon--users">
                    <a href="https://www.meetup.com/pro/dotnet/">
                        <i class="fas fa-users"></i>
                    </a>
                </div>
            </section>
        </div>
        <div id="site-footer_bookend" class="">
            <div class="site-footer_container container">
                <div class="site-footer_row row">
                    <div class="col-12 d-flex justify-content-end">
                        <p id="site-footer_copyright">
                            &copy; @DateTime.Now.Year .NET Foundation and Contributors.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <partial name="SignOutPartial" />
        <environment names="Development">
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </environment>
        <script>
            $(document).ready(function () {
                var parts = window.location.pathname.split('/');
                var basename = "default-no-basename";
                if (parts && parts.length) {
                    var idx = parts.length - 1;
                    if (parts[idx] == '' && parts.length > 1) {
                        --idx;
                    }
                    basename = parts[idx];
                }
                //alert("basename: "+basename);
                $('body').addClass(basename);
            });
        </script>
        @RenderSection("Bottom", required: false)
        @RenderSection("scripts", required: false)
        <!-- IsHttps: @Context.Request.IsHttps -->
        <!-- Host: @Context.Request.Host.Host -->
        <cache>

            <!-- ViewType: @GetType().AssemblyQualifiedName -->
            <!-- Environment: @HostingEnvironment.EnvironmentName -->
            <!-- Application: @System.Reflection.Assembly.GetEntryAssembly().GetName().Name, @System.Reflection.Assembly.GetEntryAssembly().GetName().Version -->
            <!-- OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture -->
            <!-- Machine: @Environment.MachineName -->
        </cache>
    </footer>
    
    @RenderSection("Toolbar", required: false)
</body>
</html>
