@using cloudscribe.Web.Navigation
@using cloudscribe.Core.Models

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html class="sb-init">
<head>
    <meta charset="utf-8" />
    <title>.NET Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @RenderSection("Meta", required: false)

    <link href="~/theme/css/preload.css" rel="stylesheet">
    <link href="~/theme/css/vendors.css" rel="stylesheet">
    <link href="~/theme/css/style-gray.css" rel="stylesheet" media="screen" title="default">
    <link href="~/theme/css/width-full.css" rel="stylesheet" title="default">

    <script src="~/theme/js/vendors.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="sb-site-container">
        <div class="boxed">
            <header id="header-full-top" class="hidden-xs header-full">
                <div class="container">
                    <div class="header-full-title">
                        <h1 class="animated fadeInRight"><a href="/">.NET <span>Foundation</span></a></h1>
                        <p class="animated fadeInRight">supporting open source .NET</p>
                    </div>
                    <nav class="top-nav">
                        <ul class="top-nav-social hidden-sm">
                            <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <div class="dropdown animated fadeInDown animation-delay-13">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                                <form role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-ar btn-primary" type="button">Go!</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div> <!-- dropdown -->
                    </nav>
                </div> <!-- container -->
            </header> <!-- header-full -->
            <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">Artificial <span>Reason</span></a>
                    </div> <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/projects">Projects</a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Get Involved</a>
                                <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                    <li>
                                        <a href="/get-involved">Join In</a>
                                    </li>
                                    <li>
                                        <a href="/events">Meet Ups</a>
                                    </li>
                                    <li>
                                        <a href="/get-involved/merchendise">Merchendise</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Get Involved</a>
                                <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                    <li>
                                        <a href="/get-involved">Join In</a>
                                    </li>
                                    <li>
                                        <a href="/events">Meet Ups</a>
                                    </li>
                                    <li>
                                        <a href="/get-involved/merchendise">Merchendise</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a href="http://forums.dotnetfoundation.org">Forums</a>
                            </li>
                        </ul>
                    </div><!-- navbar-collapse -->
                </div><!-- container -->
            </nav>




            @RenderSection("Toolbar", required: false)
            @*
                @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapBreadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
                @await Html.PartialAsync("AlertsPartial")
            *@
            @RenderBody()
            <aside id="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="footer-widget-title">Sitemap</h3>
                            <ul class="list-unstyled three_cols">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                                <li><a href="portfolio_topvar.html">Works</a></li>
                                <li><a href="page_timeline_left.html">Timeline</a></li>
                                <li><a href="page_pricing.html">Pricing</a></li>
                                <li><a href="page_about2.html">About Us</a></li>
                                <li><a href="page_team.html">Our Team</a></li>
                                <li><a href="page_services.html">Services</a></li>
                                <li><a href="page_support.html">FAQ</a></li>
                                <li><a href="page_login_full.html">Login</a></li>
                                <li><a href="page_contact.html">Contact</a></li>
                            </ul>
                            <h3 class="footer-widget-title">Subscribe</h3>
                            <p>Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Adress">
                                <span class="input-group-btn">
                                    <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Recent Post</h3>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="theme/img/demo/m2.jpg" width="75" height="75" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                                        <small>August 18, 2013</small>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="theme/img/demo/m11.jpg" width="75" height="75" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum cillum tempor</a></h4>
                                        <small>September 14, 2013</small>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="theme/img/demo/m4.jpg" width="75" height="75" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat minim adipisicing et fugiat</a></h4>
                                        <small>October 9, 2013</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Recent Works</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                        <a href="#" class="thumbnail"><img src="theme/img/demo/wf1.jpg" class="img-responsive" alt="Image"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                        <a href="#" class="thumbnail"><img src="theme/img/demo/wf2.jpg" class="img-responsive" alt="Image"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                        <a href="#" class="thumbnail"><img src="theme/img/demo/wf3.jpg" class="img-responsive" alt="Image"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                        <a href="#" class="thumbnail"><img src="theme/img/demo/wf4.jpg" class="img-responsive" alt="Image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </aside> <!-- footer-widgets -->
            <footer id="footer">
                <p>&copy; @DateTime.Now.Year .NET Foundation and Contributors.</p>
            </footer>
            <div id="back-top">
                <a href="#header"><i class="fa fa-chevron-up"></i></a>
            </div>

            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("Bottom", required: false)
            @RenderSection("scripts", required: false)

            <script src="~/theme/js/vendors.js"></script>
            <script src="~/theme/js/DropdownHover.js"></script>
            <script src="~/theme/js/app.js"></script>
            <script src="~/theme/js/holder.js"></script>
            <script src="~/theme/js/home_info.js"></script>
        </div> <!-- boxed -->
    </div> <!-- sb-site -->

    @await Html.PartialAsync("_LoginPartial")
    @if (Context.User.Identity.IsAuthenticated && Context.User.IsInRole("Administrators"))
    {
        <div id="sidebar">
            <a href="/siteadmin">Site Admin</a>
        </div>
    }
</body>

</html>

<!-- IsHttps: @Context.Request.IsHttps -->
<!-- Host: @Context.Request.Host.Host -->
<cache>
<!-- ViewType: @GetType().AssemblyQualifiedName -->
<!-- Environment: @HostingEnvironment.EnvironmentName -->
<!-- Application: @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationName, @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion -->
<!-- OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture -->
<!-- Machine: @Environment.MachineName -->
</cache>