@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject SiteContext site
<!DOCTYPE html>
<html class="sb-init">
<head>
    <meta charset="utf-8" />
    <title>.NET Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("Meta", required: false)
    <environment names="Development">
        <link href="~/theme/css/preload.css" rel="stylesheet">
        <link href="~/theme/css/vendors.css" rel="stylesheet">
        <link href="~/theme/css/style-gray.css" rel="stylesheet" media="screen" title="default">
        <link href="~/theme/css/width-full.css" rel="stylesheet" title="default">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/theme/css/preload.css" rel="stylesheet">
        <link href="~/theme/css/vendors.css" rel="stylesheet">
        <link href="~/theme/css/style-gray.css" rel="stylesheet" media="screen" title="default">
        <link href="~/theme/css/width-full.css" rel="stylesheet" title="default">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <!--    
        bundling css fails at the moment
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        -->
    </environment>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
        "palette": {
            "popup": {
            "background": "#64386b",
            "text": "#ffcdfd"
            },
            "button": {
            "background": "#f8a8ff",
            "text": "#3f0045"
            },
            law: {
                regionalLaw: true,
            },
            location: true,
        }
      })
    });
    </script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="sb-site-container">
        <div class="boxed">
            <header id="header-full-top" class="hidden-xs header-full">
                <div class="container">
                    <div class="header-full-title">
                        <h1 class="animated fadeInRight"><a href="/">.NET <span>Foundation</span></a></h1>
                        <p class="animated fadeInRight">supporting open source .NET</p>
                    </div>
                    <nav class="top-nav">
                        <ul class="top-nav-social hidden-sm">
                            <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <div class="dropdown animated fadeInDown animation-delay-13">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                                <form role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-ar btn-primary" type="button">Go!</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div> <!-- dropdown -->
                    </nav>
                </div> <!-- container -->
            </header> <!-- header-full -->
            <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="/">.NET <span>Foundation</span></a>
                    </div> <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapTopNavWithDropdowns", filterName = NamedNavigationFilters.TopNav, startingNodeKey = "" })
                    </div><!-- navbar-collapse -->
                </div><!-- container -->
            </nav>
            @RenderSection("Toolbar", required: false)
            @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapBreadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
            @await Html.PartialAsync("AlertsPartial")
            @RenderBody()
            <aside id="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="footer-widget-title">Sitemap</h3>
                            <ul class="list-unstyled three_cols">
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                                <li><a href="portfolio_topvar.html">Works</a></li>
                                <li><a href="page_timeline_left.html">Timeline</a></li>
                                <li><a href="page_pricing.html">Pricing</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/team">Our Team</a></li>
                                <li><a href="page_services.html">Services</a></li>
                                <li><a href="page_support.html">FAQ</a></li>
                                @await Html.PartialAsync("_LoginPartial")
                                <li><a href="page_contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-widget">
                                @await Component.InvokeAsync("RecentPosts", new { viewName = "RecentPosts", numberToShow = 3 })
                            </div>
                        </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </aside> <!-- footer-widgets -->
            <footer id="footer">
                <p>&copy; @DateTime.Now.Year .NET Foundation and Contributors.</p>
            </footer>
            <div id="back-top">
                <a href="#header"><i class="fa fa-chevron-up"></i></a>
            </div>
            <environment names="Development">
                <script src="~/theme/js/vendors.js"></script>
                <script src="~/theme/js/DropdownHover.js"></script>
                <script src="~/theme/js/app.js"></script>
                <script src="~/theme/js/holder.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            <!-- //TODO: Move to script.js once script minification fixed -->
            <!-- Added due to https://github.com/twbs/bootstrap/issues/21599 -->
            <script>
                $('.carousel').hover(function () { 
                    $(this).carousel('pause') 
                }, function () { 
                    $(this).carousel('cycle') 
                })
            </script>

            @RenderSection("Bottom", required: false)
            @RenderSection("scripts", required: false)   
        </div> <!-- boxed -->
    </div> <!-- sb-site -->
    <!-- IsHttps: @Context.Request.IsHttps -->
    <!-- Host: @Context.Request.Host.Host -->
    <cache>
    <!-- ViewType: @GetType().AssemblyQualifiedName -->
    <!-- Environment: @HostingEnvironment.EnvironmentName -->
    <!-- Application: @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationName, @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion -->
    <!-- OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture -->
    <!-- Machine: @Environment.MachineName -->
    </cache>
  </body>
</html>
