@model IEnumerable<dotnetfoundation.Models.MeetupEvent>

@foreach (var item in Model)
{
    <div class="media">
        <a class="pull-left" href="@item.EventUrl">
            <img class="media-object" src="holder.js/70x70?bg=68217A&text=@item.Time.ToString("MMM") \n @item.Time.Day">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="@item.EventUrl">
                    @item.GroupName
                </a>
            </h4>
            <p>
            @if (!String.IsNullOrEmpty(item.Description))
              {
                @item.Description.PlainTextTruncate(100)
            } else
            {
                <span>(No description listed)</span>
            }
            </p>
        </div>
    </div>
}