@model dotnetfoundation.ViewModels.ProjectListViewModel
@{
    ViewData["Title"] = "Projects";
    string repoChecked = null;
    string projectChecked = null;
    if (Model.Type == "repository")
    {
        repoChecked = "checked";
    }
    else
    {
        projectChecked = "checked";
    }

}

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Foundation Projects
                </h1>
                <p class="mx-auto">
                    Projects—and the people behind them—are at the heart of what .NET Foundation is all about. These days, you’ll find awide variety of projects, including the .NET Compiler Platform, ASP.NET, .NET Core, and Xamarin Forms, along with the popular .NET open-source frameworks xUnit and Reactive Extensions.
                </p>
                <p class="mx-auto">
                    Can you contribute to something already in the works? Browse our projects below to find out how to contribute!
                </p>
                <p class="mx-auto">
                    Of course, we’re always on the lookout for new open-source projects to support. Learn how to submit your project.
                </p>
                <div class="container">
                    <form id="search" method="get">
                        <div class="form-group col-6 offset-3">
                            <div class="input-group">
                                <input class="form-control" id="q" name="q" type="text" value="@Model.Q" />
                                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <input id="type" name="type" type="hidden" value="project" @repoChecked /> 
                        @*{
            <div class="form-groupr">
                <label>
                    <input id="type" name="type" type="radio" value="project" @projectChecked /> Projects
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input id="type" name="type" type="radio" value="repository" @repoChecked /> Repositories
                </label>
            </div>
        }*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-9">
    @if (Model.Type == "repository")
    {
        @foreach (var item in Model.ProjectRepos.Data)
        {
            <article class="content-item project">
                <header>
                    <h3><a target="_blank" href="@item.Url">@item.Name </a></h3>
                </header>
                <p>@item.Description</p>
            </article>
        }
        <div>
            <cs-pager asp-action="Index" asp-controller="Projects"
                      asp-route-q="@Model.Q"
                      asp-route-type="@Model.Type"
                      asp-route-ps="@Model.ProjectRepos.PageSize"
                      cs-paging-pagenumber="@Model.ProjectRepos.PageNumber"
                      cs-paging-totalitems="@Model.ProjectRepos.TotalItems"
                      cs-pagenumber-param="pn"></cs-pager>
        </div>
    }
    else
    {
        @foreach (var item in Model.Projects.Data)
        {
            <article class="content-item project">
                <div data-mdurl="https://raw.githubusercontent.com/dotnet/home/master/projects/@item.Name"></div>
                @{
                    var contributor = item.Contributor;
                }
                @if (contributor != null)
                {
                    if (!string.IsNullOrWhiteSpace(contributor.Logo))
                    {
                        <div class=""><a href="@contributor.Web"><img class="img-responsive contrib-logos" src="@contributor.Logo" alt="@contributor.Name" /></a></div>

                    }
                    else
                    {
                        <div><a href="@contributor.Web">@contributor.Name</a></div>

                    }

                }
            </article><hr />
        }
        <div>
            <cs-pager asp-action="Index" asp-controller="Projects"
                      asp-route-q="@Model.Q"
                      asp-route-type="@Model.Type"
                      asp-route-ps="@Model.Projects.PageSize"
                      cs-paging-pagenumber="@Model.Projects.PageNumber"
                      cs-paging-totalitems="@Model.Projects.TotalItems"
                      cs-pagenumber-param="pn"></cs-pager>
        </div>
    }
</div>
<div class="col-md-3">
    <ul class="list-unstyled">
        <li>
            @Model.Summary.Projects Projects
        </li>
        <li>
            @Model.Summary.Contributors Contributors
        </li>
        <li>
            @Model.Summary.Organizations Organization
        </li>
        <li>
            @Model.Summary.Forks Forks
        </li>
        <li>
            @Model.Summary.OpenIssues Open Issues
        </li>
        <li>
            @Model.Summary.Stars Stars
        </li>
    </ul>

</div>

@section Scripts {
    <script src="~/js/showdown.min.js"></script>
    <script src="~/js/showdown-unobtrusive.js" asp-append-version="true"></script>
}

