@model cloudscribe.SimpleContent.Web.ViewModels.RecentPostsViewModel
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SimpleContent> sr
@inject cloudscribe.SimpleContent.Web.Services.IContentProcessor htmlFilter
@{
    var defaultImageUrl = "/images/logo_big.png"; 
}
@if (Model.Posts.Count > 0)
{
        @foreach (var post in Model.Posts)
        {
            var imgUrl = htmlFilter.ExtractFirstImageUrl(post, Url, defaultImageUrl);

            <div class="col-md-4 col-sm-6 masonry-item">
                <div class="img-caption-ar wow fadeInUp">
                @if (Model.ProjectSettings.IncludePubDateInPostUrls)
                {
                    @if (!string.IsNullOrWhiteSpace(imgUrl))
                    {
                        <img src="@imgUrl" class="img-responsive" alt="Image">
                    }
                    <div class="caption-ar">
                        <div class="caption-content">
                        <h4 class="media-heading">
                            <a asp-route="@blogRoutes.PostWithDateRouteName"
                               asp-route-year="@post.PubDate.Year"
                               asp-route-month="@post.PubDate.Month.ToString("00")"
                               asp-route-day="@post.PubDate.Day.ToString("00")"
                               asp-route-slug="@post.Slug">@post.Title</a>
                        </h4>
                        <small>@Model.FormatDate(post.PubDate)</small>
                        </div>
                    </div>
                }
                else
                {
                    @if (!string.IsNullOrWhiteSpace(imgUrl))
                    {
                        <a class="pull-left" href="#"><img class="media-object" src="@imgUrl" alt="image"></a>
                    }
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a asp-route="@blogRoutes.PostWithoutDateRouteName" asp-route-slug="@post.Slug">@post.Title</a>
                        </h4>
                        <small>@Model.FormatDate(post.PubDate)</small>
                   </div>
                    
                } 
            </div>
        </div>

        }
}
