@model dotnetfoundation.Models.MeetupFeed
@{
    ViewData["Title"] = ".NET Community";
    ViewData["Description"] = "Get involved in the .NET community. Attent a meetup in your local area, join us on GitHub, ask a question on StackOverflow, or follow us on Twitter or Facebook.";
    
}

@functions {
    public string GetImageUrl(string source)
    {
        var cmLogo = "https://dotnetsocialweb.azurewebsites.net/assets/cm_logo.png";
        var mLogo = "/images/meetup_logo.png";
        var dLogo = "https://dotnetsocialweb.azurewebsites.net/assets/net_logo.png";
        switch (source)
        {
            case "meetup.com":
                return mLogo;
            case "communitymegaphone.com":
                return cmLogo;
        }
        return dLogo;
    }

}

@section styles
{
<style>table img { max-width: 66px; } </style>
}

    <h1>Events</h1>

    <p>Developers meet every day in .NET user groups, all around the world, to talk and learn more about .NET development and opportunities. You can join a local user group to engage with other .NET developers, to learn, find job opportunities or hire .NET developers for your project. Take a look at <a href="https://www.meetup.com/pro/dotnet">MeetUp.com</a>&nbsp;to find your nearest .NET meet up</a>.</p>

    <div class="row">

        <div class="col-md-4">
            <div class="content-box box-default">
            <span class="icon-ar icon-ar-lg icon-ar-circle"><i class="fa fa-users"></i></span>
            <h5 class="content-box-title">Meetup Pro</h5>
            <p>.NET Foundation sponsors Meetup Pro for all .NET Meetups.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="content-box box-default">
            <span class="icon-ar icon-ar-lg icon-ar-circle"><i class="fa fa-money"></i></span>
            <h5 class="content-box-title">Open Collective</h5>
            <p>.NET Foundation backs Open Collective memberships for all Meetups: simple, transparent accounting.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="content-box box-default">
            <span class="icon-ar icon-ar-lg icon-ar-circle"><i class="fa fa-file-code-o"></i></span>
            <h5 class="content-box-title">"Event In A Box" content</h5>
            <p>Looking for content for your user group? Take a look at our free, up to date <a href="https://github.com/dotnet-presentations">content</a>.</p>
            </div>
        </div>

    </div>

    <p><strong>.NET Foundation is now sponsoring a&nbsp;<a href="https://www.meetup.com/pro/dotnet/">Meetup Pro group</a> for for our user groups. Please&nbsp;<button href="https://dotnetfoundation.sharepoint.com/_layouts/15/WopiFrame.aspx?guestaccesstoken=E4s0o4r8BAjSAlDiOdKqy%2fW4RW2HbvrLcfz4PsJdbS8%3d&amp;docid=1_10cd43d461efb4f68aa5289bea6a50fc0&amp;wdFormId=%7B02655D67%2D5D39%2D47E7%2D8151%2D47536BFF227C%7D&amp;action=formsubmit" class="btn btn-ar btn-primary">let us know</button> if you'd like to join.</strong></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Source</th>
                <th>Event</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Events)
            {
                <tr>
                    <td>@item.Time.ToLongDateString()</td>
                    <td><img src="@GetImageUrl(item.Source)"  alt="Logo for the event" class="ug-badge" /></td>
                    <td><a href="@item.EventUrl">@item.Name</a></td>
                    <td><a href="@item.GroupUrl">@item.GroupName</a></td>
                </tr>
            }
        </tbody>
    </table>

